body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient(black,white);
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
  }

  #message-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  #message-container div {
    background-color: #e8ee87;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  .window {
    background-image: linear-gradient(#eaa11e,white);
    margin: auto;
    margin-top: 20px;
    width: 700px;
    height: 500px;
    border: 2px solid #c2c6b6;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#message-input{
    border-radius: 6px;
    border: 2px solid #d9c590;
    width: 80%;
    margin: 15px;
    padding: 5px;
}

#send-button {
    align-items: center;
    width: 10%;
    height: 24px;
    background-color: #3c7838;
    border-radius: 5px;
    color: white;
    font-size: smaller;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
    border: 2px solid #7f8fdc;
}

#heading{
    text-align: center;
}

.fields {
    width: 100%;
}

#send-container{
    text-align: center;
    align-items: center;
}